<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       					   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
       					   http://www.springframework.org/schema/context 
                http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Wrapper del cliente -->
	<bean id="seguridadClienteWs" class="pe.com.sedapal.seguridad.ws.SeguridadClienteWs">
		<property name="webServiceTemplate" ref="wsTemplate" />
	</bean>

	<util:properties id="config"
		location="classpath:pe/com/sedapal/seguridad/ws/config/config.properties" />

	<context:property-placeholder
		properties-ref="config" />

	<!-- Plantilla para comunicarnos con el WS -->
	<bean id="wsTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">
		<!-- <property name="defaultUri" value="http://localhost:8181/SeguridadWs/seguridadWs"/> -->

		<!-- Creación de mensajes SOAP -->
		<property name="messageFactory">
			<!-- Saaj usa DOM, si se quiere más rendimiento y consumir menos recursos 
				puede usar: org.springframework.ws.soap.axiom.AxiomSoapMessageFactory que 
				usa AXIOM. -->

			<bean name="innermf"
				class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory">
				<property name="soapVersion">
					<util:constant static-field="org.springframework.ws.soap.SoapVersion.SOAP_11" />
				</property>
			</bean>
		</property>




		<property name="messageSender">
			<bean
				class="org.springframework.ws.transport.http.CommonsHttpMessageSender">
				<constructor-arg>
					<ref bean="httpClient" />
				</constructor-arg>
			</bean>


		</property>
	</bean>

	<bean id="multiThreadedHttpConnectionManager" class="org.apache.commons.httpclient.MultiThreadedHttpConnectionManager" />

	<bean id="httpParams" class="org.apache.commons.httpclient.params.HttpClientParams">
		<!-- Timeout in milliseconds: in this case 1 minute -->
		<property name="soTimeout" value="480000" />
	</bean>

	<bean id="httpClient" class="org.apache.commons.httpclient.HttpClient">
		<constructor-arg>
			<ref bean="multiThreadedHttpConnectionManager" />
		</constructor-arg>
		<property name="params" ref="httpParams" />
	</bean>
</beans>